<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.DocumentDB" version="2.1.1" targetFramework="net46" />
  <package id="Microsoft.Azure.DocumentDB.ChangeFeedProcessor" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net452" />
  <package id="Microsoft.Azure.Storage.Common" version="9.0.0.1-preview" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.8.3" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.8.3" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.8.3" targetFramework="net452" />
  <package id="Microsoft.OData.Core" version="7.4.4" targetFramework="net452" />
  <package id="Microsoft.OData.Edm" version="7.4.4" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="7.4.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NUnit" version="3.10.1" targetFramework="net46" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net46" />
  <package id="RandomGen" version="1.0.0" targetFramework="net46" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net452" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net452" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net452" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net452" />
  <package id="System.Spatial" version="5.8.3" targetFramework="net452" />
</packages>